body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  background-color: #f0f0f0;
  font-family: sans-serif;
}


.flashcard {
  background-color: red;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 10px;
  width: 300px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
  text-align: center;
  background: black;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
